@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    color: white;

}

body {
    background-color: #000017;
}

header {
    background-color: #0d0434;
    height: 70px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#left h1 {
    font-size: 35px;
    color: #fff;
    margin-left: 40px;
    font-weight: 500;
    text-decoration: underline;
}


#left h1 span {

    color: #7b00bd;
    text-shadow: 0 0 12px #7b00bd ;
}

#right ul {
    /* border: 2px solid red; */
    display: flex;
    gap: 50px;
    padding: 20px 40px;
}

#right ul li {
    list-style-type: none;
    font-size: 18px;
    color: #fff;
}

#right ul li a {
    text-decoration: none;
}

#right ul li a:hover {
    /* line-height: 10px; */
    color: #7b00bd;
    text-decoration: underline;
    text-shadow: 0 0 12px  #7b00bd;
    /* background-color:darkorchid; */

}

#Home {
    /* border: 2px solid green; */
    width: 90%;
    height: 100%;
    height: 600px;
    margin: 100px 50px;
    display: flex;
    padding: 70px 60px;

}

#left-text {
    width: 100%;
    margin-top: 0 auto 60px;
    /* text-align: justify; */
    text-align: start;


}

#left-text #left-1 {
    /* border: 2px solid red; */
    margin-top: 40px;
    height: 100%;
    width: 100%
}

#left-text #left-1 h1 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
}

#left-text #left-1 .afzal {
    text-align: start;
    font-size: 75px;
    color: #7b00bd;
    font-weight: 600;
    margin-bottom: 15px;
}

#left-text #left-1 p {
    text-align: start;
    font-size: 20px;
    font-weight: 300;
    color: #fff;

}



#right-img {
    /* border: 2px solid aqua; */
    height: 400px;
    width: 100%;
    margin-bottom: auto;
}

#right-img #img1 {

    height: 100%;
    width: 100%;
    /* border-radius: 50%; */

}

#right-img #img1 img {
    height: 100%;
    width: 80%;
    margin-left: 90px;
    box-shadow: 0 0 12px 12px #7b00bd;
    /* border-radius: 50%;   */
    border-color: #7b00bd;
    object-fit: contain;
}

/* about mw section */

#About {
    width: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#About #main-img {

    margin-left: 50px;
}

#main-img img {
    height: auto;
    width: 430px;
    box-shadow: 0 0 12px 12px #7b00bd;
}

#about-text {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    margin: 0 100px;

}

#about-tex #main-text {

    width: 550px;

}

#main-text h2 {
    font-size: 70px;
    margin-bottom: 30px;
    word-spacing: 5px;
    letter-spacing: 3px;
}

#main-text h2 span {
    color: #7b00bd;
}

#main-text h5 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #7b00bd;
    word-spacing: 4px;
    letter-spacing: 3px;
}

#main-text p {
    text-align: start;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}